[submodule "cloud4data-ch01-getting-started/cloud4data-ch01-getting-started/python-scaffold"]
	path = cloud4data-ch01-getting-started/cloud4data-ch01-getting-started/python-scaffold
	url = https://github.com/Friend09/python-scaffold.git
